# 중복 데이터 처리
중복 데이터 찾기 : duplicated

In [1]:
import pandas as pd

df = pd.DataFrame(
    {
        "brand": ["Yum Yum", "Yum Yum", "Indomie", "Indomie", "Indomie"],
        "style": ["cup", "cup", "cup", "pack", "pack"],
        "rating": [4, 4, 3.5, 15, 5],
    }
)

df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [2]:
df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [3]:
# keep 이라는 속성을 사용하여 어떤 값을 중복으로 인식할 것인지 설정, 기본값은 first
df.duplicated(keep="last")

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [4]:
# subset 속성을 사용하여 특정 컬럼에 대한 중복만 처리 가능
df.duplicated(subset=["brand"])

0    False
1     True
2    False
3     True
4     True
dtype: bool

중복값 삭제 : drop_duplicates()

In [5]:
df.drop_duplicates()

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [6]:
df.drop_duplicates(subset=["brand", "style"], keep="last")

     brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0