# 결측(빈) 데이터 처리
isnull (isna) : 결측치 찾기

In [13]:
import numpy as np
import pandas as pd

In [14]:
df = pd.DataFrame(
    [[1, 5, 2], [np.nan, 1, 3], [6, np.nan, 20], [2, 5, np.nan], [2, 5, 2]]
)
df

     0    1     2
0  1.0  5.0   2.0
1  NaN  1.0   3.0
2  6.0  NaN  20.0
3  2.0  5.0   NaN
4  2.0  5.0   2.0

In [15]:
df.isna()

       0      1      2
0  False  False  False
1   True  False  False
2  False   True  False
3  False  False   True
4  False  False  False

In [16]:
# 컬럼별 결측치 확인
df.isnull().sum()

0    1
1    1
2    1
dtype: int64

# 결측치 채우기
fillna : 결측치 채우기

In [17]:
df

     0    1     2
0  1.0  5.0   2.0
1  NaN  1.0   3.0
2  6.0  NaN  20.0
3  2.0  5.0   NaN
4  2.0  5.0   2.0

In [18]:
df.fillna(1)  # 특정 값으로 채우기

     0    1     2
0  1.0  5.0   2.0
1  1.0  1.0   3.0
2  6.0  1.0  20.0
3  2.0  5.0   1.0
4  2.0  5.0   2.0

In [19]:
df.fillna(method="ffill")  # 특정 값으로 채우기 ffill = fowardfill 앞에 값으로 대체

/var/folders/dn/kpsvhr056zz6gvcnmgrkklzr0000gn/T/ipykernel_49095/2472508802.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill') # 특정 값으로 채우기 ffill = fowardfill 앞에 값으로 대체

     0    1     2
0  1.0  5.0   2.0
1  1.0  1.0   3.0
2  6.0  1.0  20.0
3  2.0  5.0  20.0
4  2.0  5.0   2.0

In [20]:
df.fillna(method="bfill")  # 특정 값으로 채우기 bfill = backwardfill 뒤에 값으로 대체

/var/folders/dn/kpsvhr056zz6gvcnmgrkklzr0000gn/T/ipykernel_49095/768961982.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill') # 특정 값으로 채우기 bfill = backwardfill 뒤에 값으로 대체

     0    1     2
0  1.0  5.0   2.0
1  6.0  1.0   3.0
2  6.0  5.0  20.0
3  2.0  5.0   2.0
4  2.0  5.0   2.0

dropna : 결측치 제거

In [21]:
df.dropna()

     0    1    2
0  1.0  5.0  2.0
4  2.0  5.0  2.0